<fieldset>
    <div class="form-row">
        <div class="form-group col-md-12">
            <label>
                Address
                <InputText class="form-control" @bind-Value="Address.Address" @bind-disabled="@IsDisabled" />
            </label>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label>
                City
                <InputText class="form-control" @bind-Value="Address.City" @bind-disabled="@IsDisabled" />
            </label>
        </div>
        <div class="form-group col-md-6">
            <label>
                Postal Code
                <InputText class="form-control" @bind-Value="Address.PostalCode" @bind-disabled="@IsDisabled" />
            </label>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label>
                Province
                <InputText class="form-control" @bind-Value="Address.Province" @bind-disabled="@IsDisabled" />
            </label>
        </div>
        <div class="form-group col-md-6">
            <label>
                Country
                <InputText class="form-control" @bind-Value="Address.Country" @bind-disabled="@IsDisabled" />
            </label>
        </div>
    </div>
</fieldset>
