@model Merp.Web.Site.Areas.Registry.Models.Company.InfoViewModel

@{
    ViewBag.Title = $"{Model.CompanyName} - Company Info";
}

@*<h2>@Model.CompanyName</h2>
    <h4>Company Info</h4>
    <hr />*@

<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-industry"></i> @Model.CompanyName</h3>
        </div>
        <div class="panel-body">
            <div class="tabbable tabs-left">
                <ul class="nav nav-tabs col-md-3">
                    <li class="active"><a href="#companyInfoPane" data-toggle="tab">Company Info</a></li>
                    <li><a href="#shippingAddressPane" data-toggle="tab">@Html.DisplayNameFor(model => model.ShippingAddress)</a></li>
                    <li><a href="#billingAddressPane" data-toggle="tab">@Html.DisplayNameFor(model => model.BillingAddress)</a></li>
                    <li><a href="#companyContactInfoPane" data-toggle="tab">Contact Info</a></li>
                </ul>
                <div class="tab-content col-md-9">
                    <div class="tab-pane active" id="companyInfoPane" data-original-id="@Model.CompanyUid" data-url="@UrlBuilder.Registry.CompanyChangeName()">
                        <section>
                            <dl class="dl-horizontal">
                                <dt>
                                    @Html.DisplayNameFor(model => model.CompanyName)
                                </dt>
                                <dd class="form-inline">
                                    <span class="company-name">@Html.DisplayFor(model => model.CompanyName)</span>
                                    <a id="changeCompanyNameBtn" class="btn" href="#"><i class="fa fa-edit"></i> change name</a>
                                    <div class="hidden btn-group change-company-name-actions" role="group" aria-label="changeCompanyName">
                                        <button type="button" id="saveCompanyName" class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="Save new company name"><i class="fa fa-save"></i></button>
                                        <button type="button" id="cancelCompanyName" class="btn btn-default" data-toggle="tooltip" data-placement="top" title="Reset changes"><i class="fa fa-undo"></i></button>
                                    </div>
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.VatNumber)
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.VatNumber)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.NationalIdentificationNumber)
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.NationalIdentificationNumber)
                                </dd>
                            </dl>
                        </section>
                        <form id="legalAddressPane" data-original-id="@Model.CompanyUid" method="post" action="@UrlBuilder.Registry.CompanyChangeLegalAddress()" novalidate="novalidate">
                            <div class="row">
                                <h5 class="col-md-3">@Html.DisplayNameFor(model => model.LegalAddress)</h5>
                                <a class="btn pull-left" href="#" id="changeLegalAddressBtn"><i class="fa fa-edit"></i> Change legal address</a>
                                <div class="btn-group change-legal-address-actions hidden" role="group" aria-label="changeLegalAddress">
                                    <button type="submit" id="saveLegalAddress" class="btn btn-primary"><i class="fa fa-save"></i> Save</button>
                                    <button type="button" id="cancelLegalAddress" class="btn btn-default"><i class="fa fa-undo"></i> Cancel</button>
                                </div>
                            </div>
                            @Html.DisplayFor(model => model.LegalAddress)
                        </form>
                    </div>
                    <div class="tab-pane" id="shippingAddressPane">
                        <form id="shippingAddressForm" data-original-id="@Model.CompanyUid" method="post" action="@UrlBuilder.Registry.CompanyChangeShippingAddress()" novalidate="novalidate">
                            <div class="row">
                                <h5 class="col-md-3">@Html.DisplayNameFor(model => model.ShippingAddress)</h5>
                                <a class="btn pull-left" href="#" id="changeShippingAddressBtn"><i class="fa fa-edit"></i> Change shipping address</a>
                                <div class="btn-group change-shipping-address-actions hidden" role="group" aria-label="changeShippingAddress">
                                    <button type="submit" id="saveShippingAddress" class="btn btn-primary"><i class="fa fa-save"></i> Save</button>
                                    <button type="button" id="cancelShippingAddress" class="btn btn-default"><i class="fa fa-undo"></i> Cancel</button>
                                </div>
                            </div>

                            @Html.DisplayFor(model => model.ShippingAddress)
                        </form>
                    </div>
                    <div class="tab-pane" id="billingAddressPane">
                        <form id="billingAddressForm" data-original-id="@Model.CompanyUid" method="post" action="@UrlBuilder.Registry.CompanyChangeBillingAddress()" novalidate="novalidate">
                            <div class="row">
                                <h5 class="col-md-3">@Html.DisplayNameFor(model => model.BillingAddress)</h5>
                                <a class="btn pull-left" href="#" id="changeBillingAddressBtn"><i class="fa fa-edit"></i> Change billing address</a>
                                <div class="btn-group change-billing-address-actions hidden" role="group" aria-label="changeBillingAddress">
                                    <button type="submit" id="saveBillingAddress" class="btn btn-primary"><i class="fa fa-save"></i> Save</button>
                                    <button type="button" id="cancelBillingAddress" class="btn btn-default"><i class="fa fa-undo"></i> Cancel</button>
                                </div>
                            </div>

                            @Html.DisplayFor(model => model.BillingAddress)
                        </form>
                    </div>
                    <div class="tab-pane" id="companyContactInfoPane" data-original-id="@Model.CompanyUid" data-url="@UrlBuilder.Registry.CompanyChangeContactInfo()">
                        <a class="btn" id="changeContactInfoBtn" href="#"><i class="fa fa-edit"></i> Change contact info</a>
                        <div class="btn-group change-contact-info-actions hidden" role="group" aria-label="changeContactInfo">
                            <button type="button" id="saveContactInfo" class="btn btn-primary"><i class="fa fa-save"></i> Save</button>
                            <button type="button" id="cancelContactInfo" class="btn btn-default"><i class="fa fa-undo"></i> Cancel</button>
                        </div>
                        <hr />
                        <dl class="dl-horizontal">
                            <dt>
                                @Html.DisplayNameFor(model => model.MainContactName)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.MainContactName)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.AdministrativeContactName)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.AdministrativeContactName)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.PhoneNumber)
                            </dt>
                            <dd class="contact-phone">
                                @Html.DisplayFor(model => model.PhoneNumber)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.FaxNumber)
                            </dt>
                            <dd class="contact-fax">
                                @Html.DisplayFor(model => model.FaxNumber)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.WebsiteAddress)
                            </dt>
                            <dd class="contact-website">
                                @Html.DisplayFor(model => model.WebsiteAddress)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.EmailAddress)
                            </dt>
                            <dd class="contact-email">
                                @Html.DisplayFor(model => model.EmailAddress)
                            </dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<hr />

@*<a href="@UrlBuilder.Registry.CompanyChangeName(Model.CompanyUid)">Change name</a> |*@
@*<a href="@UrlBuilder.Registry.CompanyChangeLegalAddress(Model.CompanyUid)">Change legal address</a> |
    <a href="@UrlBuilder.Registry.CompanyChangeShippingAddress(Model.CompanyUid)">Change shipping address</a> |
    <a href="@UrlBuilder.Registry.CompanyChangeBillingAddress(Model.CompanyUid)">Change billing address</a> |*@
<a href="@UrlBuilder.Registry.CompanyAssociateMainContact(Model.CompanyUid)">Associate main contact</a> |
<a href="@UrlBuilder.Registry.CompanyAssociateAdministrativeContact(Model.CompanyUid)">Associate administrative contact</a> |
@*<a href="@UrlBuilder.Registry.CompanyChangeContactInfo(Model.CompanyUid)">Change contact info</a> |*@
<a href="@UrlBuilder.Registry.Search()">Back to List</a>

@section scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    <script type="text/javascript" src="~/js/registry/company-info.js" asp-append-version="true"></script>
}