@model Merp.Web.Site.Areas.Registry.Models.PostalAddress
     
<div class="form-group">
  @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label col-md-2" })
  <div class="col-md-10">
    @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
    @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
  </div>
</div>

<div class="form-group">
  @Html.LabelFor(model => model.City, htmlAttributes: new { @class = "control-label col-md-2" })
  <div class="col-md-10">
    @Html.EditorFor(model => model.City, new { htmlAttributes = new { @class = "form-control" } })
    @Html.ValidationMessageFor(model => model.City, "", new { @class = "text-danger" })
  </div>
</div>

<div class="form-group">
  @Html.LabelFor(model => model.PostalCode, htmlAttributes: new { @class = "control-label col-md-2" })
  <div class="col-md-10">
    @Html.EditorFor(model => model.PostalCode, new { htmlAttributes = new { @class = "form-control" } })
    @Html.ValidationMessageFor(model => model.PostalCode, "", new { @class = "text-danger" })
  </div>
</div>

<div class="form-group">
  @Html.LabelFor(model => model.Province, htmlAttributes: new { @class = "control-label col-md-2" })
  <div class="col-md-10">
    @Html.EditorFor(model => model.Province, new { htmlAttributes = new { @class = "form-control" } })
    @Html.ValidationMessageFor(model => model.Province, "", new { @class = "text-danger" })
  </div>
</div>

<div class="form-group">
  @Html.LabelFor(model => model.Country, htmlAttributes: new { @class = "control-label col-md-2" })
  <div class="col-md-10">
    @Html.EditorFor(model => model.Country, new { htmlAttributes = new { @class = "form-control" } })
    @Html.ValidationMessageFor(model => model.Country, "", new { @class = "text-danger" })
  </div>
</div>



