@using System.Globalization
@{
    string[] countryCodes = new string[] { "AT", "BE", "BG", "CY", "CZ", "DE", "DK", "EE", "EL", "ES", "FI", "FR", "GB", "HR", "HU", "IE", "IT", "LT", "LU", "LV", "MT", "NL", "PL", "PT", "RO", "SE", "SI", "SK" };
    string viesModalId = Guid.NewGuid().ToString();
    string searchCountryCodeId = viesModalId + "_searchCountryCode";
    string searchVatNumberId = viesModalId + "_searchVatNumber";

    string stagingNameId = viesModalId + "_stagingName";
    string stagingVatNumberId = viesModalId + "_stagingVatNumber";
    string stagingAddressId = viesModalId + "_stagingAddress";
    string stagingCountryNameId = viesModalId + "_stagingCountryName";
    //Multiple open modals not supported
    //Be sure not to open a modal while another is still visible.Showing more than one modal at a time requires custom code.

    //Modal markup placement
    //Always try to place a modal's HTML code in a top-level position in your document to avoid other components affecting the modal's appearance and / or functionality.
}
<style type="text/css">
  .glyphicon-spin-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
  }

  @@-webkit-keyframes spin2 {
    from {
      -webkit-transform: rotate(0deg);
    }

    to {
      -webkit-transform: rotate(360deg);
    }
  }

  @@keyframes spin {
    from {
      transform: scale(1) rotate(0deg);
    }

    to {
      transform: scale(1) rotate(360deg);
    }
  }
</style>
<div class="modal fade" id="@viesModalId" role="dialog">
  <div class="modal-dialog">

    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Search VIES</h4>
      </div>
      <div class="modal-body">

        <form class="search-form form-inline" role="form">
          <div class="input-group">
            <label class="input-group-addon" for="@searchCountryCodeId">Country</label>
            <select id="@searchCountryCodeId" class="form-control">
              <option value="AT">AT-Austria</option>
              <option value="BE">BE-Belgio</option>
              <option value="BG">BG-Bulgaria</option>
              <option value="CY">CY-Cipro</option>
              <option value="CZ">CZ-Repubblica ceca</option>
              <option value="DE">DE-Germania</option>
              <option value="DK">DK-Danimarca</option>
              <option value="EE">EE-Estonia</option>
              <option value="EL">EL-Grecia</option>
              <option value="ES">ES-Spagna</option>
              <option value="FI">FI-Finlandia</option>
              <option value="FR">FR-Francia</option>
              <option value="GB">GB-Regno Unito</option>
              <option value="HR">HR-Croazia</option>
              <option value="HU">HU-Ungheria</option>
              <option value="IE">IE-Irlanda</option>
              <option value="IT" selected>IT-Italia</option>
              <option value="LT">LT-Lituania</option>
              <option value="LU">LU-Lussemburgo</option>
              <option value="LV">LV-Lettonia</option>
              <option value="MT">MT-Malta</option>
              <option value="NL">NL-Paesi Bassi</option>
              <option value="PL">PL-Polonia</option>
              <option value="PT">PT-Portogallo</option>
              <option value="RO">RO-Romania</option>
              <option value="SE">SE-Svezia</option>
              <option value="SI">SI-Slovenia</option>
              <option value="SK">SK-Slovacchia</option>
            </select>
          </div>
          <div class="form-group has-feedback">
            <div class="input-group">
              <label class="input-group-addon" for="@searchVatNumberId">Vat Number</label>
              <input type="text" class="form-control" id="@searchVatNumberId">
              <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
            </div>
          </div>
          <button type="button" id="search-vies" class="btn btn-primary">
            <span class="glyphicon glyphicon-search"></span> Search
          </button>
        </form>
        <div id="vies-error" class="alert alert-danger alert-dismissible fade in" style="display: none" role="alert"> 
          <h4>Error: VIES temporarily unavailable</h4> 
          <p>Please retry in a few minutes.</p> 
        </div>
        <hr />
        <form class="staging-form" role="form">          
          <fieldset disabled>
            <div class="form-group">
              <div class="input-group">
                <label class="input-group-addon" for="@stagingNameId">Name</label>
                <input type="text" class="form-control" id="@stagingNameId">
              </div>
            </div>
            <div class="form-group">
              <div class="input-group">
                <label for="@stagingVatNumberId" class="input-group-addon">Vat Number</label>
                <input id="@stagingVatNumberId" type="text" class="form-control">
              </div>
            </div>
            <div class="form-group">
              <div class="input-group">
                <label for="@stagingAddressId" class="input-group-addon">Address</label>
                <input id="@stagingAddressId" type="text" class="form-control">
              </div>
            </div>
            <div class="form-group">
              <div class="input-group">
                <label for="@stagingCountryNameId" class="input-group-addon">Country</label>
                <input id="@stagingCountryNameId" type="text" class="form-control">
              </div>
            </div>
            <button type="button" id="accept-vies" class="btn btn-default">
              Accept
            </button>
          </fieldset>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

<script type="text/javascript">
  (function ($) {

    $.fn.searchVies = function (options) {

      var viesModal = $('#@viesModalId'),
        searchForm = $('.search-form', viesModal),
        stagingForm = $('.staging-form', viesModal),
        searchButton = $('#search-vies'),
        acceptButton = $('#accept-vies'),
        settings = $.extend({}, $.fn.searchVies.defaults, options);

      function focusSearchVatNumber() {
        $('#@searchVatNumberId').focus();
      }

      function searchVies() {
        var searchData = getSearchData();

        if (searchData.vatNumber === '') {
          return;
        }

        var icon = $('.glyphicon', searchButton).removeClass('glyphicon-search').addClass('glyphicon-refresh glyphicon-spin-animate');
        resetStagingForm();
        $('#vies-error').hide();
        checkVat(searchData.vatNumber, searchData.countryCode)
          .done(onCheckVatSuccess)
          .fail(onCheckVatFail)
          .always(function () {
            icon.removeClass('glyphicon-refresh glyphicon-spin-animate').addClass('glyphicon-search');
          });
      }

      function checkVat(vatNumber, countryCode) {
        $('.has-feedback', searchForm).removeClass('has-success has-error');
        $('.has-feedback .form-control-feedback', searchForm).removeClass('glyphicon-ok glyphicon-remove');
        return $.ajax({
          url: '/Registry/Api/CheckVat',
          data: {
            vatNumber: vatNumber,
            countryCode: countryCode
          }
        });
      }

      function onCheckVatSuccess(result) {
        if (!result.valid) {
          $('.has-feedback', searchForm).addClass('has-error');
          $('.has-feedback .form-control-feedback', searchForm).addClass('glyphicon-remove');
          return;
        }

        $('fieldset', stagingForm).removeAttr('disabled');
        $('.has-feedback', searchForm).addClass('has-success');
        $('.has-feedback .form-control-feedback', searchForm).addClass('glyphicon-ok');
        result.countryName = $('#@searchCountryCodeId option[value="' + result.countryCode + '"]').text()
        setStagingData(result);
        $('#@stagingNameId').focus();
      }

      function onCheckVatFail(result) {
        $('#vies-error').show();
      }

      function getSearchData() {
        var countryCode = $('#@searchCountryCodeId').val(),
          vatNumber = $('#@searchVatNumberId').val();
        return { countryCode: countryCode, vatNumber: vatNumber};
      }

      function setStagingData(data) {
        stagingForm.data('stagingData', data);
        $('#@stagingNameId').val(data.name);
        $('#@stagingVatNumberId').val(data.vatNumber);
        $('#@stagingAddressId').val(data.address);
        $('#@stagingCountryNameId').val(data.countryName);
      }

      function getStagingData() {
        var stagingData = stagingForm.data('stagingData'),
          formData = {
            name: $('#@stagingNameId').val(),
            vatNumber: $('#@stagingVatNumberId').val(),
            address: $('#@stagingAddressId').val()
          };
          return $.extend({}, stagingData, formData);
      }

      function acceptVies() {
        if (typeof settings.onAccept === 'function') {
          var stagingData = getStagingData();
          settings.onAccept(stagingData);
        }
        viesModal.modal('hide');
      }

      function resetModal() {
        searchForm[0].reset();
        resetStagingForm();
        $('#vies-error').hide();
      }

      function resetStagingForm() {
        stagingForm[0].reset();
        stagingForm.removeData('stagingData');
        $('fieldset', stagingForm).attr('disabled', 'disabled');
      }

      viesModal.on('shown.bs.modal', focusSearchVatNumber);
      viesModal.on('hidden.bs.modal', resetModal);
      searchForm.on('submit', function (event) { event.preventDefault(); searchVies(); return false; });
      searchButton.on('click', function (event) { event.preventDefault(); searchVies(); return false; });
      stagingForm.on('submit', acceptVies);
      acceptButton.on('click', acceptVies);

      this.on('click', function () { viesModal.modal(); });

      return this;
    };

    $.fn.searchVies.defaults = {
      onAccept: function (data) { }
    };

  }(jQuery));
</script>
