@model Merp.Web.Site.Areas.Accountancy.Models.JobOrder.FixedPriceJobOrderDetailViewModel

@{
    ViewBag.Title = "FixedPriceJobOrderDetail";
}


<div class="row">
    <div class="col-sm-12">
        <h2>@Html.DisplayFor(model => model.JobOrderName)</h2>
        <h4>@Html.DisplayFor(model => model.JobOrderNumber)</h4>
        <h5>@Html.DisplayFor(model => model.CustomerName)</h5>
        <p>
            @if (!Model.IsCompleted)
            {
                @Html.ActionLink("Complete", "MarkFixedPriceJobOrderAsCompleted", new { id = Model.JobOrderId })<text> |</text>
                @Html.ActionLink("Extend", "ExtendFixedPrice", new { id = Model.JobOrderId })<text> |</text>
            }
            @Html.ActionLink("Back to List", "Index")
        </p>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div id="tabs">
            <ul>
                <li><a href="#general">General</a></li>
                <li><a href="#balance">Trend Analysis</a></li>
                <li><a href="/Accountancy/JobOrder/IncomingInvoicesAssociatedToJobOrder?jobOrderId=@Model.JobOrderId">Incoming Invoices</a></li>
                <li><a href="/Accountancy/JobOrder/OutgoingInvoicesAssociatedToJobOrder?jobOrderId=@Model.JobOrderId">Outgoing Invoices</a></li>
            </ul>
            <div id="general">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.JobOrderNumber)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.JobOrderNumber)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.CustomerName)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.CustomerName)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Price)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Price)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.DateOfStart)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.DateOfStart)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.DueDate)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.DueDate)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Notes)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Notes)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Balance)
                    </dt>

                    <dd>
                        <span id="jobOrderBalance"></span><input type="button" value="evaluate" onclick="evalJobOrderBalance('@Model.JobOrderId');" />
                    </dd>
                </dl>

            </div>
            <div id="balance">
                @Html.Partial("BalanceTrendAnalysis", Model.JobOrderId)
            </div>
        </div>
    </div>
</div>

@section head
{
    <link rel="stylesheet" type="text/css" href="~/lib/jquery-ui/themes/base/all.css" />
    <script src="~/lib/moment/moment.js"></script>
}
@section scripts
{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/jquery-ui/jquery-ui.js"></script>
    <script src="~/lib/Chart.js/Chart.js"></script>
    <script src="~/lib/angular-chart.js/angular-chart.js"></script>
    <script type="text/javascript">
            $(function () {
                $("#tabs").tabs({
                    ajaxOptions: {
                        error: function (xhr, status, index, anchor) {
                            $(anchor.hash).html("Unable to display trend analysis");
                        }
                    }
                });
            });
    </script>
    <script type="text/javascript">
            function evalJobOrderBalance(jobOrderId) {
                jobOrderBalanceControl = $("#jobOrderBalance")[0];

                $.get("/Accountancy/JobOrder/EvaluateFixedPriceJobOrderBalance/" + jobOrderId, function (data) {
                    if (data === 'undefined') {
                        jobOrderBalanceControl.innerText = 'Unable to evaluate';
                    }
                    else {
                        jobOrderBalanceControl.innerText = data;
                    }
                })
                .fail(function () {
                    jobOrderBalanceControl.innerText = 'Unable to evaluate';
                }
                );
            }
    </script>
}