@model Merp.Web.Site.Areas.Registry.Models.Company.AssociateAdministrativeContactViewModel

@{
    ViewBag.Title = $"{Model.CompanyName} - Associate Administrative Contact";
}

<h2>@Model.CompanyName</h2>
<h4>Associate Administrative Contact</h4>
<hr />


<form method="post" asp-controller="Company" asp-action="AssociateAdministrativeContact" class="form-horizontal">

  @Html.AntiForgeryToken()
  <input type="hidden" asp-for="CompanyId" />

  <label asp-for="AdministrativeContact" class="col-md-2 control-label"></label>
  <div class="col-md-10">
    @Html.EditorFor(model => model.AdministrativeContact, new { htmlAttributes = new { @class = "form-control" } })
    @Html.ValidationMessageFor(model => model.AdministrativeContact, "", new { @class = "text-danger" })
  </div>

  <div class="form-group">
    <div class="col-md-offset-2 col-md-10">
      <input type="submit" value="Save" class="btn btn-default" />
    </div>
  </div>

</form>

<div>
  <a href="@UrlBuilder.Registry.CompanyInfo(Model.CompanyId)">Back</a>
</div>
@section head {
  <environment names="Development">
    <link type="text/css" rel="stylesheet" href="~/lib/jquery-ui/themes/smoothness/jquery-ui.css" />
  </environment>
  <environment names="Staging,Production,OnPremises,AzureCosmosDB,AzureMongoDB,AzureCloudServices">
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.11.4/themes/smoothness/jquery-ui.css"
            asp-fallback-src="~/lib/jquery-ui/themes/smoothness/jquery-ui.css"
            asp-fallback-test="window.jQuery">
    </script>
  </environment>
}
@section Scripts {
  @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
  @{ await Html.RenderPartialAsync("_JqueryValidationBootstrapPartial"); }
  @{ await Html.RenderPartialAsync("_JqueryUIPartial"); }
}
