@model Merp.Web.Site.Areas.Registry.Models.Company.InfoViewModel

@{
    ViewBag.Title = $"{Model.CompanyName} - Company Info";
}

<h2>@Model.CompanyName</h2>
<h4>Company Info</h4>
<hr />

<div class="row">
  <div class="tabbable">
    <ul class="nav nav-pills nav-stacked col-md-3">
      <li class="active"><a href="#companyInfoPane" data-toggle="tab">Company Info</a></li>
      <li><a href="#shippingAddressPane" data-toggle="tab">@Html.DisplayNameFor(model => model.ShippingAddress)</a></li>
      <li><a href="#billingAddressPane" data-toggle="tab">@Html.DisplayNameFor(model => model.BillingAddress)</a></li>
      <li><a href="#companyContactInfoPane" data-toggle="tab">Contact Info</a></li>
    </ul>
    <div class="tab-content col-md-9">
      <div class="tab-pane active" id="companyInfoPane">
        <dl class="dl-horizontal">
          <dt>
            @Html.DisplayNameFor(model => model.CompanyName)
          </dt>
          <dd>
            @Html.DisplayFor(model => model.CompanyName)
          </dd>

          <dt>
            @Html.DisplayNameFor(model => model.VatNumber)
          </dt>
          <dd>
            @Html.DisplayFor(model => model.VatNumber)
          </dd>

          <dt>
            @Html.DisplayNameFor(model => model.NationalIdentificationNumber)
          </dt>
          <dd>
            @Html.DisplayFor(model => model.NationalIdentificationNumber)
          </dd>
        </dl>
        <h5>@Html.DisplayNameFor(model => model.LegalAddress)</h5>
        @Html.DisplayFor(model => model.LegalAddress)
      </div>
      <div class="tab-pane" id="shippingAddressPane">
        <h5>@Html.DisplayNameFor(model => model.ShippingAddress)</h5>
        @Html.DisplayFor(model => model.ShippingAddress)
      </div>
      <div class="tab-pane" id="billingAddressPane">
        <h5>@Html.DisplayNameFor(model => model.BillingAddress)</h5>
        @Html.DisplayFor(model => model.BillingAddress)
      </div>
      <div class="tab-pane" id="companyContactInfoPane">
        <dl class="dl-horizontal">
          <dt>
            @Html.DisplayNameFor(model => model.MainContactName)
          </dt>
          <dd>
            @Html.DisplayFor(model => model.MainContactName)
          </dd>

          <dt>
            @Html.DisplayNameFor(model => model.AdministrativeContactName)
          </dt>
          <dd>
            @Html.DisplayFor(model => model.AdministrativeContactName)
          </dd>

          <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber)
          </dt>
          <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
          </dd>

          <dt>
            @Html.DisplayNameFor(model => model.FaxNumber)
          </dt>
          <dd>
            @Html.DisplayFor(model => model.FaxNumber)
          </dd>

          <dt>
            @Html.DisplayNameFor(model => model.WebsiteAddress)
          </dt>
          <dd>
            @Html.DisplayFor(model => model.WebsiteAddress)
          </dd>

          <dt>
            @Html.DisplayNameFor(model => model.EmailAddress)
          </dt>
          <dd>
            @Html.DisplayFor(model => model.EmailAddress)
          </dd>
        </dl>
      </div>
    </div>
  </div>
</div>

<hr />

<a href="@UrlBuilder.Registry.CompanyChangeName(Model.CompanyUid)">Change name</a> |
<a href="@UrlBuilder.Registry.CompanyChangeLegalAddress(Model.CompanyUid)">Change legal address</a> |
<a href="@UrlBuilder.Registry.CompanyChangeShippingAddress(Model.CompanyUid)">Change shipping address</a> |
<a href="@UrlBuilder.Registry.CompanyChangeBillingAddress(Model.CompanyUid)">Change billing address</a> |
<a href="@UrlBuilder.Registry.CompanyAssociateMainContact(Model.CompanyUid)">Associate main contact</a> |
<a href="@UrlBuilder.Registry.CompanyAssociateAdministrativeContact(Model.CompanyUid)">Associate administrative contact</a> |
<a href="@UrlBuilder.Registry.CompanyChangeContactInfo(Model.CompanyUid)">Change contact info</a> |
<a href="@UrlBuilder.Registry.Search()">Back to List</a>
